<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ywh.wh.test">

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ListMapActivity"/>
        <activity android:name=".SecondActivity" />
        <activity android:name=".loop.TestActivity" />
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".loadMorerv.TestLoadMoreRvActivity"/>
        <activity android:name=".loop.LoopActivity" />
        <activity android:name=".recycler.RecyclerListActivity" />
        <activity android:name=".fragmentandactivity.OneActivity" />
        <activity android:name=".fragmentandactivity.TwoActivity" />
        <activity android:name=".DataBaseActivity"/>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home2Activity"/>
        <activity android:name=".gaode.GaodeMapActivity">

        </activity>
        
        <activity android:name=".recycler.RecyclerActivity"/>
        <activity android:name=".recycler.RecyclerStaggeredGridActivity"/>
        <activity android:name=".recycler.RecyclerAnimatorActivity"/>
        <activity android:name=".recycler.TestSwipeRecyclerViewActivity"/>
        <activity android:name=".recycler.ScrollViewAndRvActivity"/>
        <activity android:name=".recycler.RvAndRvActivity"/>
        <activity android:name=".intercep.InterceptTestActivity"/>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="c647253d708223d8aff1558da9fe77aa">

        </meta-data>
        <service android:name="com.amap.api.location.APSService"/>

    </application>

</manifest>